/* Basic style */
.mx-product-slider,
.mx-related-products-slider {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	-webkit-transition: height 0.7s;
    -o-transition: height 0.7s;
    transition: height 0.7s;
}
.mx-product-slider > div,
.mx-related-products-slider .mx-slide-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 777;
}
.mx-product-slider > div > img,
.mx-related-products-slider .mx-slide-item > img {
	width: 100%;
}
.mx-related-products-slider .mx-visible-next-slide {
	z-index: 778;
}
.mx-related-products-slider .mx-visible-slide {
	z-index: 779;
}

/*Navigation*/
nav.mx-navigation-wrap-prev {
    position: absolute;
    z-index: 779;
    display: inline-block;
    top: 50%;
    left: 0;
    margin-top: -80px;
}
nav.mx-navigation-wrap-next {
	position: absolute;
    z-index: 779;
    display: inline-block;
    top: 50%;
    right: 0;
    margin-top: -80px;
}
nav.mx-navigation-wrap-prev button,
nav.mx-navigation-wrap-next button{
	width: 100px;
	height: 200px;	
    border: none;
    outline: none;
    font-size: 0;    
    background-position: center;
    background-repeat: no-repeat;
	cursor: pointer;
	background-color: transparent;
	-webkit-transition: background-color 0.7s;
    -o-transition: background-color 0.7s;
    transition: background-color 0.7s;
}
nav.mx-navigation-wrap-prev button:hover,
nav.mx-navigation-wrap-next button:hover {
	background-color: rgba(51, 51, 51, 0.69);
}
button.mx-navigation-arrow-prev {
	float: left;
	background-image: url(../img/main-arrow-prev.png);
}
button.mx-navigation-arrow-next {
	float: right;	
	background-image: url(../img/main-arrow-next.png);
}

/*dots*/
nav.mx-dots-wrap {
	position: absolute;
	z-index: 779;
	width: 100%;
	max-width: 400px;
	text-align: center;
}
button.mx-dot-item {
	background: #fff;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	margin: 0px 5px;
	display: inline-block;
	cursor: pointer;
}
button.mx-dot-item.mx-dot-item-active {
	background: #333;
}
/*positon of dots box*/
nav.mx-dots-wrap.mx-dots-position-top-left {
	top: 20px;
	left: 0px;
}
nav.mx-dots-wrap.mx-dots-position-top-center {
	top: 20px;
	left: 0px;
	max-width: 100%;
}
nav.mx-dots-wrap.mx-dots-position-top-right {
	top: 40px;
	right: 0px;
}
nav.mx-dots-wrap.mx-dots-position-bottom-left {
	bottom: 40px;
	left: 0px;
}
nav.mx-dots-wrap.mx-dots-position-bottom-center {
	bottom: 40px;
	left: 0px;
	max-width: 100%;
}
nav.mx-dots-wrap.mx-dots-position-bottom-right {
	bottom: 40px;
	right: 0px;
}

/*banner*/
.mx-slide-banner {
	position: absolute;    
    width: 100%;
    max-width: 992px;
    z-index: 888;
    height: 50%;
}
	/*top - left*/
	.mx-banner-top-left {
		top: 40px;
		left: 70px;
		text-align: left;
	}

	/*top - right*/
	.mx-banner-top-right {
		top: 40px;
    	right: 70px;
        text-align: right;
	}

	/*bottom - left*/
	.mx-banner-bottom-left {
		bottom: 60px;
		left: 70px;
		text-align: left;
	}

	/*bottom - right*/
	.mx-banner-bottom-right {
		bottom: 60px;
		right: 70px;
		text-align: right;
	}

.mx-slide-banner img {
	height: 100%;	
}

/*help classes*/
.mx-display-none {
	display: none;
}

/*media*/
@media only screen and ( max-width: 1400px ) {

	nav.mx-navigation-wrap-prev button,
	nav.mx-navigation-wrap-next button {
		width: 75px;
		height: 170px;
		-webkit-background-size: 26px;
		background-size: 26px;
	} 
}